<footer class="site-footer" role="contentinfo">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p class="footer-heading">{{ site.title | escape }}</p>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p><small>Copyright &copy; 2013–{{ site.time | date: "%Y" }} {{ site.author }}.<br>All rights reserved.</small></p>
      </div>
    </div>
  </div>
</footer>
