<footer role="contentinfo" class="site-footer">
  <div class="wrap">
    <div class="footer-col-1 column">
      <p class="copyright">
        <small>Copyright &copy; {{ site.time | date: "%Y" }} {{ site.author }}.</small>
      </p>
      <p><small>All rights reserved.</small></p>
    </div>

    <div class="footer-col-2 column">
      <ul>
        <li>
          <a rel="me" href="https://github.com/{{ site.username }}">
            <span class="icon github">
              <svg class="github-icon-svg" width="16" height="16">
                <use xlink:href="#icon-github"/>
              </svg>
            </span>

            <span class="username">{{ site.username }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>
  </div>
</footer>

<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100703652); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100703652ns.gif" /></p></noscript>
