<header role="banner" class="site-header">
  <div class="wrap">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}: {{ site.subtitle}}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg width="18" height="15"><use xlink:href="#icon-hamburger"/></svg>
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
