---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <section class="home media h-card vcard">
          <div class="img">
            <img
              class="avatar u-photo photo"
              alt=""
              src="https://avatars0.githubusercontent.com/jmmcduffie?v=3&amp;s=200"
              srcset="https://avatars0.githubusercontent.com/jmmcduffie?v=3&amp;s=200 1x, https://avatars0.githubusercontent.com/jmmcduffie?v=3&amp;s=400 2x"
              width="200"
              height="200"
            >
          </div>

          <div class="bd">
            <h1 class="page-heading p-name fn">{{ site.author }}</h1>
            {% include social.html %}
            <a href="{{ site.baseurl }}" class="u-url url">{{ site.title }}</a>
            {{ content }}
          </div>
        </section>

        {%- if site.posts.size > 0 -%}
          <section class="blog">
            <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
            <ul class="post-list">
              {%- for post in site.posts -%}
              <li>
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <h3>
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h3>
                {%- if site.show_excerpts -%}
                  {{ post.excerpt }}
                {%- endif -%}
              </li>
              {%- endfor -%}
            </ul>

            <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
          </section>
        {%- endif -%}
      </div>
    </main>
  </body>
</html>
